* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  text-align: center;
  background-color: #3d195b;
  color: white;
  font-size: 24px;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 10vh;
  text-align: center;
}

.main {
  width: 75%;
  background-color: red;
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 28px auto;
  justify-content: center;
}