* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  text-align: center;
  background-color: #3d195b;
  color: white;
  font-size: 24px;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 10vh;
  text-align: center;
  border-top: 2px solid #3d195b;
  color: #3d195b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 75%;
  /* background-color: blue; */
  height: 80vh;
  display: flex;
  padding: 30px 0;

  text-align: center;
  margin: 28px auto;
  justify-content: center;
}

/* .select-fields {
  display: flex;

} */

select {
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5rem;
  padding: 0.5em 3.5em 0.5em 1em;

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.league-names {
  background-image:
  linear-gradient(45deg, transparent 50%, blue 50%),
  linear-gradient(135deg, blue 50%, transparent 50%),
  linear-gradient(to right, skyblue, skyblue);
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  100% 0;
background-size:
  5px 5px,
  5px 5px,
  2.5em 2.5em;
background-repeat: no-repeat;
}

.year-names {
  background-image:
  linear-gradient(45deg, transparent 50%, blue 50%),
  linear-gradient(135deg, blue 50%, transparent 50%),
  linear-gradient(to right, skyblue, skyblue);
background-position:
  calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  100% 0;
background-size:
  5px 5px,
  5px 5px,
  2.5em 2.5em;
background-repeat: no-repeat;
}

.league-names:focus {
  background-image:
  linear-gradient(45deg, white 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, white 50%),
  linear-gradient(to right, gray, gray);
background-position:
  calc(100% - 15px) 1em,
  calc(100% - 20px) 1em,
  100% 0;
background-size:
  5px 5px,
  5px 5px,
  2.5em 2.5em;
background-repeat: no-repeat;
border-color: grey;
outline: 0;
}

.year-names:focus {
  background-image:
  linear-gradient(45deg, white 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, white 50%),
  linear-gradient(to right, gray, gray);
background-position:
  calc(100% - 15px) 1em,
  calc(100% - 20px) 1em,
  100% 0;
background-size:
  5px 5px,
  5px 5px,
  2.5em 2.5em;
background-repeat: no-repeat;
border-color: grey;
outline: 0;
}

.result-container {
  background-color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.result-container .inner {

  margin: 20px 0
}

img {
  width: 80px
}
